
/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





/* Common Style */
:root {
  --font-family: "Roboto", sans-serif;
  --primary: #BD8C1B;
  --dark: #000;
  --light: #fff;

  --primary-gradient: linear-gradient(90deg, rgba(192, 170, 113, 0) 0%, #C0AA71 0%, #C0AA71 0.01%, #F3E0AB 100%);
}


.img-responsive {
    max-width: 100%;
    height: auto;
}



.page-title {
    padding: 80px;
    padding-top: 120px;
    background-color: var(--primary);
    color: #fff;
    margin-bottom: 10px;
}



/*
* Custom Bootstrap Styling
*/

a.btn-primary {
    background-color: var(--primary);
    border: 0;
    background-image: var(--primary-gradient);
}
a.btn-primary:hover {
    background-color: var(--primary);
    border: 0;
}


p, ul, b, strong, em {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}


p {
    font-weight: 300;
}



.text-box h4 {
  font-size:  44px;
  margin-bottom: 30px;
}
.text-box p {
  font-weight: 300;
  font-size: 18px;
}



/*
* Bootstrap overrides
*/

.table {
    --bs-table-striped-bg: rgba(0, 0, 0, 0.025);
    font-weight: 300;
    font-size: 16px;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 0.75rem;
}



/*
* Static About Us page
*/

.damac-text-section-container {
  padding: 80px 0;
}
.damac-text-section {
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(/images/textsectionbg.jpg);
}

.damac-text-section .text-box {
    background-color: #111;
    color: #fff;
    padding: 58px 30px;
    max-width: 600px;
    margin:0 auto;
}

.damac-text-section .text-box h3 {
    margin-bottom: 68px;
    font-size: 44px;
   
}

.damac-text-section .text-box p {
  font-weight:  300;
  line-height: 2;
  font-size: 20px;
}

@media ( min-width: 768px ) {
    .damac-text-section .text-box {
        margin: 0;
        margin-left: auto;
    }
}



/* Common Style */
:root {
  --font-family: "Roboto", sans-serif;
  --primary: #BD8C1B;
  --dark: #000;
  --light: #fff;

  --primary-gradient: linear-gradient(90deg, rgba(192, 170, 113, 0) 0%, #C0AA71 0%, #C0AA71 0.01%, #F3E0AB 100%);
}




/*
* Custom Bootstrap Styling
*/

a.btn-primary {
    background-color: var(--primary);
    border: 0;
    background-image: var(--primary-gradient);
}
a.btn-primary:hover {
    background-color: var(--primary);
    border: 0;
}

a.btn-primary.cta-btn {
    padding: 15px 30px;
}


p, ul, b, strong, em {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}


p {
    font-weight: 300;
}



.text-box h4 {
  font-size:  44px;
  margin-bottom: 30px;
}
.text-box p {
  font-weight: 300;
  font-size: 18px;
}




.page-title {
    padding: 80px;
    padding-top: 120px;
    background-color: var(--primary);
    background-image: var(--primary-gradient);
    color: #fff;
    margin-bottom: 10px;
}



@media ( min-width: 1200px ) {

    h3, .h3 {
        font-size: 44px;
    }

    h4, .h4 {
        font-size: 32px;
    }
}




/*
* HEADER
* Damac header
*/header.damac-header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px 0;
    z-index: 99;
}

header.damac-header:not(.damac-header-fixed) ~ .main {
    margin-top: -85px;
}

header.damac-header.damac-header-fixed {
    position: fixed;
}

.damac-header .header-left-col {
    display: flex;
}
.header-left-col .menuicon-wrapper {
    margin-right: 60px;
    display: flex;
    align-items: center;
}
.menuicon-wrapper > a {
    display: block;
    width: 28px;
    height: 18px;
    font-size: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgb3BhY2l0eT0iMC45IiB3aWR0aD0iMjYiIGhlaWdodD0iMiIgZmlsbD0id2hpdGUiLz4KPHJlY3Qgb3BhY2l0eT0iMC45IiB5PSI4IiB3aWR0aD0iMjYiIGhlaWdodD0iMiIgZmlsbD0id2hpdGUiLz4KPHJlY3Qgb3BhY2l0eT0iMC45IiB5PSIxNiIgd2lkdGg9IjI2IiBoZWlnaHQ9IjIiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
    background-size: contain;
    background-position: center;
}

.navbar-dark .menuicon-wrapper > a {
    display: block;
    width: 28px;
    height: 18px;
    font-size: 0;
    background-image: url(../images/hamburger-menu-dark.svg);
    background-size: contain;
    background-position: center;
}

.header-item-wrapper {
    padding: 0 20px;
}
.header-item-wrapper > a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
 
    display: block;
}
.header-item-wrapper > a.btn-light {
    background-color: #fff;
    background-image: none;
    color:  #000;
}

.navbar-dark .header-item-wrapper > a {
    color:  #111;
}

.navbar-dark .header-item-wrapper > a.btn-primary {
    color: #fff;
}

.header-item-wrapper > a.btn {
    padding: 10px 30px;
}


.header-item-wrapper .dropdown-toggle {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
 
    display: block;
}

.navbar-dark .header-item-wrapper .dropdown-toggle {
    color:  #111;
}

.header-item-wrapper .bookmark-icon {
    width: 17px;
    height: 22px;
    display: block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNyAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjQwOCAwSDAuNTkxNzk2QzAuMjY1MTUzIDAgNi40NTEyNWUtMDcgMC4yNDM0NDYgNi40NTEyNWUtMDcgMC41NDM4MjRWMjAuOTExNUMtMC4wMDA0NjE2NjUgMjEuMzE5NiAwLjI0NzU4NCAyMS42OTM1IDAuNjQyNDIyIDIxLjg4QzEuMDM3NDkgMjIuMDY2MyAxLjUxMjc4IDIyLjAzMzggMS44NzMxNyAyMS43OTU3TDguNDk5ODkgMTcuNDMwNEwxNS4xMjY4IDIxLjc5NTRDMTUuNDg3NSAyMi4wMzMyIDE1Ljk2MjMgMjIuMDY1NCAxNi4zNTcxIDIxLjg3OTFDMTYuNzUxNyAyMS42OTI4IDE3IDIxLjMxOTIgMTcgMjAuOTExNVYwLjU0MzgyNEMxNyAwLjI0MzQ0NiAxNi43MzQ4IDAgMTYuNDA4IDBaTTE1LjgxNjIgMjAuOTExM0w4Ljg0NTAyIDE2LjMxOTJDOC42Mzg4MiAxNi4xODM0IDguMzYxNDEgMTYuMTgzNCA4LjE1NTQ0IDE2LjMxOTJMMS4xODQwNSAyMC45MTE1VjEuMDg3NjVIMTUuODE2MlYyMC45MTEzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
    background-size: contain;
    background-position: center;
    font-size: 0;
}

.navbar-dark .header-item-wrapper .bookmark-icon {
    background-image: url(../images/bookmark-dark.svg);
}



.damac-nav .header-item-wrapper .btn-primary {
    color: #fff;
}



/*
* Menu slideout
*/
.main-menu-slideout {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary);
    background-image: var(--primary-gradient);
    min-width: 76vw;
    transform: translateX(120%);
    transition: 0.5s all ease-in-out;
}

.main-menu-slideout.active {
    transform: translateX(0%);
}

.main-menu-slideout a {
    color: #fff;
    text-decoration: none;
}

.main-menu-slideout > .inner {
    padding: 45px;
    height: 100%;
}

.main-menu-slideout .main-menu-inner {
    height: 100%;
}

.main-menu-slideout .biglinks {
    padding: 0 90px;
}
.main-menu-slideout .biglinks a {
    display: block;
    font-weight: 300;
    font-size: 60px;
    opacity: 0.6;
}

.main-menu-slideout .biglinks a:hover, 
.main-menu-slideout .biglinks a.active {
    opacity: 1;
}



.menulinks-cols {
    padding: 0 90px;
}

.menulinks-cols ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menulinks-cols ul li {
    margin-bottom: 4px;
}
.menulinks-cols ul li a {
    font-weight: 300;
    opacity: 0.6;
}

.menulinks-cols ul li a:hover {
    font-weight: 300;
    opacity: 1;
}




/*
* Home hero section
*/

.homepage-hero-section {
    display: block;
    position: relative;
    min-height: 720px;
    height: 100vh;
  
}

.homepage-hero-section .bg-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage-hero-section .homepage-hero-content  {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.homepage-hero-section .homepage-hero-content .hero-content-text {
    
}

.homepage-hero-content .hero-content-text {
    max-width: 500px;
    color: #fff;
}
.hero-content-text h2 {
    color: #fff;
    font-size: 72px;
    font-weight: 300;
}
.hero-content-text p.subtext {
    font-size: 22px;
    font-weight: 300;
}

.hero-content-text .hero-cta-btns {
    padding: 20px 0;
    display: flex;
    align-items: center;

}

.hero-cta {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 300;
    background-color: #000000;
    margin-right: 30px;
    border-radius: 4px;
}
.hero-cta:hover {
    color: var(--primary);
}

.hero-cta-blurr {
    backdrop-filter: blur(38px);
    background-color: rgb(103 103 103 / 20%);
    background: rgba(255, 255, 255, 0.1);
}



/*
* Cookie consent bar
*/
.cookie-consent-bar {
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: #fff;
}
.cookie-consent-bar p {
    margin: 0;
}

.cookie-consent-bar .btn {
    padding: 10px 32px;
}







/*
* Menu slideout
*/
.main-menu-slideout {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary);
    background-image: var(--primary-gradient);
    min-width: 76vw;
    transform: translateX(120%);
    transition: 0.5s all ease-in-out;
}


.main-menu-slideout.active {
    transform: translateX(0%);
}

.main-menu-slideout a {
    color: #fff;
    text-decoration: none;
}

.main-menu-slideout > .inner {
    padding: 45px;
    height: 100%;
}

.main-menu-slideout .main-menu-inner {
    height: 100%;
}

.main-menu-slideout .biglinks {
    padding: 0 90px;
}
.main-menu-slideout .biglinks a {
    display: block;
    font-weight: 300;
    font-size: 60px;
    opacity: 0.6;
}

.main-menu-slideout .biglinks a:hover, 
.main-menu-slideout .biglinks a.active {
    opacity: 1;
}



.menulinks-cols {
    padding: 0 90px;
}

.menulinks-cols ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menulinks-cols ul li {
    margin-bottom: 4px;
}
.menulinks-cols ul li a {
    font-weight: 300;
    opacity: 0.6;
}

.menulinks-cols ul li a:hover {
    font-weight: 300;
    opacity: 1;
}


/*
* About section 2
*/
.aboutbody .damac-about-section-2 {
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(/images/aboutsectionbg-2.jpg);
    color: #fff;

}

@media ( min-width: 768px ) {
    .aboutbody .damac-about-section-2 .aboutsection-2 {
        min-height: 640px;
        display: flex;
        justify-content: space-between;
        flex-direction:column;
    }
}

.aboutbody .damac-about-section-2 h3 {
    max-width: 480px;
    font-size: 44px;
    font-family: "Roboto", sans-serif;
}
.aboutbody .damac-about-section-2 h3,
.aboutbody .damac-about-section-2 .section-text {
    padding: 80px 0;
}

.aboutbody .numbersdata {
    background-color: #fff;
    color: #111;
    padding: 30px;
    display: flex;
}

.aboutbody .numbersdata .numberdata {
    display: block;
    width: 50%;
}

/* About chairman section  */
section.damac-about-chairman {
    position: relative;

}


section.damac-about-chairman .aboutChairmanbox {
    padding: 45px 0;
    padding-top: 120px;
    position: relative;
    z-index: 1;
    max-width: 450px;
    background-color: #fff;
}

.aboutChairmanbox h3 {
    font-size: 44px;
    margin-bottom: 30px;
}

.aboutChairmanbox .cta-container  {
    margin-top: 50px;
}
.aboutChairmanbox  p {
    font-weight: 300;
    margin-bottom: 45px;

}
@media ( min-width: 768px ) {

  .damac-about-chairman .chairmanPhoto {
      position: absolute;
      right: 0;
      margin-left: 15px;

  }
}

.damac-about-chairman .chairmanPhoto img {
    width: 50%;
    object-fit: cover;
    height: 700px;
}




/**/

.damac-about-leadership {
    padding: 80px 0;
}

.damac-about-leadership .ourleadership-header {
    margin-bottom: 30px;
}

.damac-about-leadership .ourleadership-header h4 {
  font-size: 44px;
}

.damac-about-leadership .ourleadership-header p {
    font-size: 16px;
    font-weight: 300;
}

.leadership-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.leadership-boxes .leadershipimg {
    position: relative;
    margin-bottom: 15px;
}

.leadership-boxes .leadershipimg::before {
    content: "";
    display: block;
    padding-bottom: 120%;
}
.leadership-boxes .leadershipimg > div {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}

@media ( max-width: 768px ) {
    
.leadership-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
}


/*
* History section
*/

.damac-history-section {
    padding: 80px 0;
}

.historyArrows {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.historyArrows .historyArrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
   background: #FFFFFF;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 15px;
}



/* History  */
.historyslidercontainer {
    display: block;
    position: relative;
}

.historyslidercontainer::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent, #fff);
    content: "";

}

.historyslidercontainer .historyslides {
    overflow-x: auto;

    white-space: pre;

}

.historyslidercontainer .historyslide {
    display: inline-block;
    min-width: 420px;
    width: 420px;
    word-wrap: wrap;
    white-space: normal;
    padding: 15px;
}
.historyslidercontainer .historyslide h5 {
    margin-bottom: 20px;
    font-size: 32px;
}
.historyslidercontainer .historyslide p {
    font-family: "Roboto";
    font-weight: 300;
}

.historyslidercontainer .historyslide ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.historyslidercontainer .projectsdelivered {
    margin-top: 30px;
}
.historyslidercontainer .historyslide ul li {
    margin: 15px 0; 
}


/*
* Awards section About
*/

section.damac-awards-section {
    background-color: var(--primary);
    color: #fff;
    padding: 120px 0;
}

.damac-awards-section .awardsbox1 h2{
 font-weight: 300;   
 font-size: 44px;
}

.damac-awards-section .awardsbox1 .subtext {
    opacity: 0.5;
}





section.damac-corporate-section {
    padding-top: 120px;
}

.damac-corporate-section h2 {
    margin-bottom: 30px;
    font-size: 44px;
}

.coporate-responsibility-section {
    margin-bottom: 125px;
}

.coporate-responsibility-section p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 45px;
}

.damac-corporate-section .graphic-img {
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
}

.damac-corporate-section .graphic-img img {
    max-width:100%;
}


/*-------------------------
* Chairman's Message
--------------------------*/



.chairmans-portrait-section {
    position: relative;

}

@media ( min-width: 768px ) {
    .chairmans-portrait-section {
        top: -60px;
    }
}


.chairmans-portrait-section .chairmans-photo img {
    max-width: 100%;
}

.chairmans-portrait-section .chairmans-message-text {
    padding-top: 100px;
}
.chairmans-message-text  h2 {
    font-size: 44px;
}



.chairmans-message-para {
    padding-bottom: 120px;
}

.chairmans-message-para  p {
    font-weight: 300;
}


.chairmans-message-para  .chairmans-name {
    margin-top: 46px;
    font-weight: 300;
}

/*---------------------------
* Documentation Links
----------------------------*/
section.building-documentation-para {
    padding: 60px 0;
}

section.building-documentation-para .main-text {
    font-size: 18px;
    margin-bottom: 45px;
    max-width: 1000px;
}
.building-documentation-link {
    max-width: 720px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.building-documentation-link li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.building-documentation-link li .doc-name {
    padding: 15px 0;
    font-size: 18px;
}

.building-documentation-link li .doc-link a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}





/*------------------------------
* Footer
-------------------------------*/
footer.damac-footer {
    background-color: var(--primary);
    padding: 45px 0;
    color: #fff;
    background-image: var(--primary-gradient);
}


footer.damac-footer  .footer-logo {
    margin-bottom: 30px;
    max-width: 106px;
}
 .footer-logo img {
     max-width: 100%;
 }


.footerMailList {

}
.footerMailList .footerMailListForm {
    max-width: 250px;
}
.footerMailList .footerMailListForm input[type='email'] {
    background-color: transparent;
    border: 0;
    color: #fff;
    border-bottom: 1px solid ;
    padding: 5px 0;
    display: block;
    width: 100%;
    outline: none;
}
.footerMailList .footerMailListForm input[type='email']::placeholder {
    color: #fff;
    opacity: 0.4;
}

.footerMailList .footerMailListForm button {
    margin: 5px 0;
    display: block;
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #BD8C1B;
    max-width: 180px;
    background-color: rgb(255 255 255 / 80%);
}




.footer-link-list  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 360px;

}

.footer-link-list  ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-link-list  ul  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 5px;
}

.footerimportantlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    

}


.footerimportantlinks li {
    display: inline-block;
    margin-right: 10px;
}

.footerimportantlinks  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 0 5px;
    font-size: 12px;
}


.footer-row-3 {
    margin-top: 30px;
}

.footer-copyright {
    font-size: 12px;
}

@media ( max-width: 768px ) {

    .footer-text-block {
        padding: 30px 0;
    }
}









/*
* SECTION:  Slider section
*/



/*
* History section
*/

.damac-slider-section {
    padding: 80px 0;
    background-image: var(--primary-gradient);
    color: #fff;
}

.sliderArrows {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.sliderArrows .sliderArrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
   background: #FFFFFF;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 15px;
}
