/* Blog card item  */
.blogcard-item p {
	color: rgba(0,0,0,0.65);
	font-size: 18px;
	line-height: 1.7;
}

.blogcard-item .blogitem-title {
    font-size: 20px;
    line-height: 1.4;
    min-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    font-weight: 400;
    margin-bottom: 16px;
}

.blogcard-item .blogitem-title a {
    font-weight: 500;
}

.blogcard-item .blogitem-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}
.dateandauthor {
    font-size: 14px;
    color: rgba(0,0,0,0.65);
}


.dateandauthor > span {
    display: inline-block;
    margin-left: 4px;
}

.metatags .taglabel {
    display: inline-block;
    margin-right: 4px;
}