.breadcrumbLinks {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px; 
}

.breadcrumbLinks ul {
    position: relative;
    display: block;
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
} 

.breadcrumbLinks ul li {
    padding-right: 15px;
    margin-right: 10px;
    position: relative;
}
.breadcrumbLinks ul li a {
    font-weight: 500;
    color: rgba(0,0,0,0.5);
    display: block;
    padding: 5px 0;
}

.breadcrumbLinks ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 10px;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M1 1L6 6L1 11' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.breadcrumbLinks ul li:last-child::before {
    content: "";
    display: none;
}