
/*
* Home hero section
*/

.homepage-hero-section {
    display: block;
    position: relative;
    min-height: 720px;
    height: 100vh;
  
}

.homepage-hero-section .bg-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage-hero-section .homepage-hero-content  {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.homepage-hero-section .homepage-hero-content .hero-content-text {
    
}

.homepage-hero-content .hero-content-text {
    max-width: 500px;
    color: #fff;
}
.hero-content-text h2 {
    color: #fff;
    font-size: 72px;
    font-weight: 300;
}
.hero-content-text p.subtext {
    font-size: 22px;
    font-weight: 300;
}

.hero-content-text .hero-cta-btns {
    padding: 20px 0;
    display: flex;
    align-items: center;

}

.homepage-hero-section .hero-cta {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 300;
    background-color: #000000;
    margin-right: 30px;
    border-radius: 4px;
}
.homepage-hero-section .hero-cta:hover {
    color: var(--primary);
}

.homepage-hero-section .hero-cta-blurr {
    backdrop-filter: blur(38px);
    -webkit-backdrop-filter: blur(38px);
    background-color: rgb(103 103 103 / 20%);
    background: rgba(255, 255, 255, 0.1);
}








.about-banner-text {
    text-align: center;
    color: #fff;
}

.about-banner-text h2 {
    font-size: 72px;
    font-family: "Roboto";
    max-width: 420px;
    margin: 0 auto;
}

.about-banner-text .bannerPlayBtn {
    width: 120px;
    height: 120px;
    margin: 45px auto;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(38px);
    -webkit-backdrop-filter: blur(38px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about-banner-text p {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    line-height: 2;
}

@media ( max-width: 768px ) {

   .about-banner-container {
     display: flex;
     align-items: flex-end;
     height: 100%;
   }

  .about-banner-text h2 {
    font-size: 32px;
    max-width: 194px;
    text-align: center;
  }

  .about-banner-text p {
    font-size: 16px;
    margin-top: 156px;
  }

  .about-banner-text .bannerPlayBtn {
    width:  60px;
    height:  60px;
  }

  .about-banner-text .bannerPlayBtn svg {
    width: 10px;
  }

}