/**/
.item-details-section {
	position: relative;
}
.bg-image {
	position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   max-width: 45vw;
   width: 45vw;
   padding-right: 40px;
}

@media ( max-width: 768px ) {
	.bg-image {
		display: none;
	}
}


.detailBoxes {
	padding: 85px 0;
}