
/*
* HEADER
* Damac header
*/
header.damac-header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px 0;
    z-index: 99;
}

header.damac-header:not(.damac-header-fixed) ~ .main {
    margin-top: -85px;
}

header.damac-header.damac-header-fixed {
    position: fixed;
}

.damac-header .header-left-col {
    display: flex;
}
.header-left-col .menuicon-wrapper {
    margin-right: 60px;
    display: flex;
    align-items: center;
}
.menuicon-wrapper > a {
    display: block;
    width: 28px;
    height: 18px;
    font-size: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgb3BhY2l0eT0iMC45IiB3aWR0aD0iMjYiIGhlaWdodD0iMiIgZmlsbD0id2hpdGUiLz4KPHJlY3Qgb3BhY2l0eT0iMC45IiB5PSI4IiB3aWR0aD0iMjYiIGhlaWdodD0iMiIgZmlsbD0id2hpdGUiLz4KPHJlY3Qgb3BhY2l0eT0iMC45IiB5PSIxNiIgd2lkdGg9IjI2IiBoZWlnaHQ9IjIiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
    background-size: contain;
    background-position: center;
}

.navbar-dark .menuicon-wrapper > a {
    display: block;
    width: 28px;
    height: 18px;
    font-size: 0;
    background-image: url(/images/hamburger-menu-dark.svg);
    background-size: contain;
    background-position: center;
}




header.damac-header.slideout-active .mobileNavContainer {
    position: absolute;
    padding: 0 0px;

}
header.damac-header.slideout-active .mobileNavContainer {
    position: relative;
    z-index: 101;
}





.header-item-wrapper {
    padding: 0 20px;
}
.header-item-wrapper > a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
 
    display: block;
}
.navbar-dark .header-item-wrapper > a {
    color:  #111;
}
.header-item-wrapper > a.btn {
    padding: 10px 30px;
}


.header-item-wrapper .dropdown-toggle {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0px;
 
    display: block;
}

.navbar-dark .header-item-wrapper .dropdown-toggle {
    color:  #111;
}

.header-item-wrapper .bookmark-icon {
	width: 17px;
	height: 22px;
	display: block;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNyAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjQwOCAwSDAuNTkxNzk2QzAuMjY1MTUzIDAgNi40NTEyNWUtMDcgMC4yNDM0NDYgNi40NTEyNWUtMDcgMC41NDM4MjRWMjAuOTExNUMtMC4wMDA0NjE2NjUgMjEuMzE5NiAwLjI0NzU4NCAyMS42OTM1IDAuNjQyNDIyIDIxLjg4QzEuMDM3NDkgMjIuMDY2MyAxLjUxMjc4IDIyLjAzMzggMS44NzMxNyAyMS43OTU3TDguNDk5ODkgMTcuNDMwNEwxNS4xMjY4IDIxLjc5NTRDMTUuNDg3NSAyMi4wMzMyIDE1Ljk2MjMgMjIuMDY1NCAxNi4zNTcxIDIxLjg3OTFDMTYuNzUxNyAyMS42OTI4IDE3IDIxLjMxOTIgMTcgMjAuOTExNVYwLjU0MzgyNEMxNyAwLjI0MzQ0NiAxNi43MzQ4IDAgMTYuNDA4IDBaTTE1LjgxNjIgMjAuOTExM0w4Ljg0NTAyIDE2LjMxOTJDOC42Mzg4MiAxNi4xODM0IDguMzYxNDEgMTYuMTgzNCA4LjE1NTQ0IDE2LjMxOTJMMS4xODQwNSAyMC45MTE1VjEuMDg3NjVIMTUuODE2MlYyMC45MTEzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
	background-size: contain;
	background-position: center;
	font-size: 0;
}

.header-item-wrapper .bookmark-btn {
    font-size: 1.4em;
    line-height: 1;
}

.navbar-dark .header-item-wrapper .bookmark-icon {
    background-image: url(/images/bookmark-dark.svg);
}



.damac-nav .header-item-wrapper .btn-primary {
    color: #fff;
}



/*
* Menu slideout
*/
.main-menu-slideout {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary);
    background-image: var(--primary-gradient);
    min-width: 76vw;
    transform: translateX(120%);
    transition: 0.5s all ease-in-out;
}

.main-menu-slideout.active {
    transform: translateX(0%);
}

.main-menu-slideout a {
    color: #fff;
    text-decoration: none;
}

.main-menu-slideout > .inner {
    padding: 45px;
    height: 100%;
}

.main-menu-slideout .main-menu-inner {
    height: 100%;
}

.main-menu-slideout .biglinks {
    padding: 0 90px;
}
.main-menu-slideout .biglinks a {
    display: block;
    font-weight: 300;
    font-size: 60px;
    opacity: 0.6;
}

.main-menu-slideout .biglinks a:hover, 
.main-menu-slideout .biglinks a.active {
    opacity: 1;
}



.menulinks-cols {
    padding: 0 90px;
}

.menulinks-cols ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menulinks-cols ul li {
    margin-bottom: 4px;
}
.menulinks-cols ul li a {
    font-weight: 300;
    opacity: 0.6;
}

.menulinks-cols ul li a:hover {
    font-weight: 300;
    opacity: 1;
}


@media ( max-width: 767px ) {
    .main-menu-slideout .biglinks {
        padding: 0 0px;
        margin-top: 90px;
        margin-bottom: 40px;
    }

    .main-menu-slideout > .inner {
        padding: 45px 25px;
        height: 100%;
        overflow: auto;
    }

    .main-menu-slideout .biglinks a {
        font-size: 32px;
    }

    .menulinks-cols {
        padding: 0;
    }
    .menulinks-cols .menu-list-col {
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .slideout-active .menuicon-wrapper > a {
        background-image: url(/images/icons/hamburger-menu-close-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}