/**/
 

.page-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-pagination  .pagination-arrow  {
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 15px 0px #00000026;
    background: #ffffff;
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-pagination .pagination-arrow.disabled {
  opacity: 0.5;
}

.page-pagination-numbers {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.page-pagination-numbers li a {
    padding: 16px;
    cursor: pointer;
    display: block;
}
.page-pagination-numbers li .ellipsis {
    padding: 16px;
    display: block;
}